
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/home.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/home.min.css?v=<%= time %>">
  <% }  %>
  <style>
    a:link {  text-decoration: none; }
    a:visited {  text-decoration: none; }
    a:hover { filter: brightness(1.2); }
    a:active {text-decoration: none; }
  </style>
</head>
 
<body>

  <%- include('partials/nav.ejs') %>
  <%- include('partials/notify.ejs', {msg:msg}) %> 

  <header class="header-title">
    <p class="al-c fc-white">
      <!-- <i class="fas fa-house mg-r-l"></i>  -->
      <span><%= settings && settings.COMPANY_NAME ? settings.COMPANY_NAME : 'หน้าแรก' %></span>
      <br>
      <span class="fc-liblue fs-sn">
        สาขา
        <%= user && user.branchName ? user.branchName : '' %>
        [ <%= user && user.branchId ? user.branchId : '' %> ]
      </span>
    </p>
  </header>

  <main>

    <!-- ขาย/คืน -->
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-shopping-cart mg-r-l"></i>  -->
        <span>ขาย/คืน</span>
      </h3>
      <!--  -->
      <div class="flex-row">
        <% global.NAV_LEFT.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
            <div class="col-1 <%= item.menuColor %>">
              <a href="<%= item.path %>">
                <i class="<%= item.icon %>"></i>
                <span><%= item.title %></span>              
              </a>

              <%
                let authsJoin = item.userAuthorities.join(',')
                authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
              %>
              <span class="fs-m"><%= authsJoin %></span>
            </div>
          <% } %>
        <% }) %>
      </div>
    </section>


    <!-- คลังสินค้า -->
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-warehouse mg-r-l"></i>  -->
        <span>คลังสินค้า</span>
      </h3>
      <div class="flex-row">
        <% global.NAV_WAREHOUSE.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
            <div class="col-1 w-100 <%= item.menuColor %>">
              <a href="<%= item.path %>">
                <i class="<%= item.icon %>"></i>
                <span><%= item.title %></span>
              </a>

              <%
                let authsJoin = item.userAuthorities.join(',')
                authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
              %>
              <span class="fs-m"><%= authsJoin %></span>
            </div>
          <% } %>
        <% }) %>
      </div>
    </section>

    <!-- ไอเท็ม -->    
    <% if(['O','S'].includes(user.userAuthority) && user.isAuth) { %>
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-box-open mg-r-l"></i>  -->
        <span>ไอเท็ม</span>
      </h3>
      <!--  -->
      <div class="flex-row">
        <% global.NAV_ITEMS.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
            <div class="col-1 w-100 <%= item.menuColor %>">
              <a href="<%= item.path %>">
                <i class="<%= item.icon %>"></i>
                <span><%= item.title %></span>
              </a>

              <%
                let authsJoin = item.userAuthorities.join(',')
                authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
              %>
              <span class="fs-m"><%= authsJoin %></span>
            </div>
          <% } %>
        <% }) %>
      </div>
    </section>
    <% } %>

    <!-- รายงานเอกสาร -->
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-file-contract mg-r-l"></i>  -->
        <span>รายงานเอกสาร</span>
      </h3>
      <!--  -->
      <div class="flex-row">
        <% global.NAV_REPORT_DOCS.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
          <div class="col-1 w-100 <%= item.menuColor %>"">
            <a href="<%= item.path %>">
              <i class="<%= item.icon %>"></i>
              <span><%= item.title %></span>
            </a>
  
              <%
                let authsJoin = item.userAuthorities.join(',')
                authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
              %>
              <span class="fs-m"><%= authsJoin %></span>
          </div>
          <% } %>
        <% }) %>
      </div>    
    </section>


    <!-- รายงานไอเท็ม -->
    <% if(['O','S','A'].includes(user.userAuthority) && user.isAuth) { %>
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-box-open mg-r-l"></i>  -->
        <span>รายงานไอเท็ม</span>
      </h3>
      <!--  -->
      <div class="flex-row">
        <% global.NAV_REPORT_ITEMS.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
          <div class="col-1 w-100 <%= item.menuColor %>">
            <a href="<%= item.path %>">
              <i class="<%= item.icon %>"></i>
              <span><%= item.title %></span>
            </a>
  
            <%
              let authsJoin = item.userAuthorities.join(',')
              authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
            %>
            <span class="fs-m"><%= authsJoin %></span>
          </div>
          <% } %>
        <% }) %>
      </div>  
    </section>
    <% } %>  


    <!-- ผู้ใช้งานระบบ -->
    <% if(['O','S'].includes(user.userAuthority) && user.isAuth) { %>
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-users mg-r-l "></i>  -->
        <span>ผู้ใช้งานระบบ</span>
      </h3>
      <!--  -->
      <div class="flex-row">
        <% global.NAV_USERS.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
          <div class="col-1 w-100 <%= item.menuColor %>">
            <a href="<%= item.path %>">
              <i class="<%= item.icon %>"></i>
              <span><%= item.title %></span>
            </a>
  
            <%
              let authsJoin = item.userAuthorities.join(',')
              authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
            %>
            <span class="fs-m"><%= authsJoin %></span>
          </div>
          <% } %>
        <% }) %>
      </div>
    </section>
    <% } %>



    <!-- ตั้งค่า/ข้อกำหนดและเงื่อนไข< -->
    <%
      const textSetting = ['O','S'].includes(user.userAuthority) ? 'ตั้งค่า' : 'ข้อกำหนดและเงื่อนไข';
    %>
    <section class="block-ctn">
      <h3 class="al-c">
        <!-- <i class="fas fa-cog mg-r-l"></i>  -->
        <span><%= textSetting %></span>
      </h3>
      <!--  -->
      <div class="flex-row">
        <% global.NAV_RIGHT.forEach(item => { %>
          <% if(item.userAuthorities.includes(user.userAuthority) && user.isAuth) { %>
          <div class="col-1 w-100 <%= item.menuColor %>">
            <a href="<%= item.path %>">
              <i class="<%= item.icon %>"></i>
              <span><%= item.title %></span>
            </a>
  
            <%
              let authsJoin = item.userAuthorities.join(',')
              authsJoin = ['S','O'].includes(user.userAuthority) ? authsJoin : authsJoin.replace(/O\,|S\,/g,'');
            %>
            <span class="fs-m"><%= authsJoin %></span>
          </div>
          <% } %>
        <% }) %>
      </div>
    </section>


  </main>  


  <!--  -->
  <%- include('partials/footer') %>

  <!--  -->
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/notify.js?v=<%= time %>"></script>
  <% } else { %>
  <script type="text/javascript" src="/js-min/home.obf.js?v=<%= time %>"></script>
  <% }  %>

</body>
</html>




