<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta',{ time:time}) %>
    <title><%= title %></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
    <% if(!IS_PRODUCTION) { %>
    <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">        
    <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">        
    <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/login.css?v=<%= time %>">
    <% } else { %>
    <link rel="stylesheet" href="/css-min/login.min.css?v=<%= time %>">
    <% }  %>
  </head>
<body>

  <!-- header -->
  <%- include('partials/notify.ejs', {msg:msg}) %>  
  <%
    const isFlash = userFlash && userFlash != null && userFlash.length > 0
    const flash = userFlash && userFlash != null && userFlash.length > 0 ?  userFlash[0] : {}
  %>

  <!-- Navigation -->
  <div class="nav-ctn">    
    <nav>
      <div class="nav-1 lh-label"> 
        <a class="nav-link" 
           href="<%= PATH_FORGOT_PASSWORD %>">
          <i class="fas fa-key mg-r-m"></i>ลืมรหัสผ่าน
        </a>      
      </div>
      <div class="nav-2 lh-label">&nbsp;</div>
      <div class="nav-3 lh-label">
        <span class="fc-white"><%= SYS_NAME %></span>
        <span class="fc-white"><%= SYS_NAME2 %></span>
        <small class="fc-ligray mg-l-m"><%= SYS_VERSION %></small>
      </div>  
    </nav>
  </div>
    
  <main>    
    
    <!-- Title -->
    <section class="title">
      <h1 class="text-white"><%= title %></h1>
    </section>

    <section class="center">

      <!--  -->
      <div class="center-left">
  
        <!-- Head -->
        <!-- <h3 class="bb-d bdr3">
          <div class="pd-l-xl lh-label">
            <i class="fa fa-sign-in-alt pd-r-l"></i>
          </div>
        </h3> -->
  
        <!-- Login -->
        <form class="fields-ctn"
              action="<%= PATH_LOGIN %>" 
              method="POST" autocomplete="off">
  
            <!--  -->
            <div class="flex-row">
              <div class="col-sm-f input-group">
                <label class="pd-r-s">
                  <span>ชื่อผู้ใช้หรืออีเมล์</span>
                  <span class="fc-lime">*</span>
                </label>
                <input class="pd-l-m" type="text" name="userNameEmail" 
                       placeholder="ชื่อผู้ใช้หรืออีเมล์" required>
              </div>
            </div>
  
            <!--  -->
            <div class="flex-row mg-t-l">

              <div class="col-sm-8-5 input-group">
                <label class="pd-r-s">
                  <span>รหัสผ่าน</span>
                  <span class="fc-lime">*</span>
                </label>
                <input class="pd-l-m" type="password" id="userPassword"  name="userPassword" 
                      placeholder="กรอกรหัสผ่าน" required>
              </div>
  
              <div class="col-sm-1-5 input-group">
                <label class="pd-r-s">&nbsp;</label>
                <button class="al-c btn btn-sm bg-dashed" id="btnViewPassword" type="button" 
                        title="ดูรหัสผ่าน"><i class="fa fa-eye"></i>         
                </button>
              </div>
  
            </div>

  
            <!--  -->
            <div class="flex-row mg-t-xl">
              <button class="col-sm-5 bg-login lh-label" type="submit" title="Login">
                <i class="fa fa-sign-in-alt pd-r-m"></i>เข้าสู่ระบบ
              </button>
            </div>
  
        </form>
  
      </div>
  
      <!-- Right -->    
      <aside class="center-right">
        <img src="<%= DOMAIN_ALLOW %>/images/logo-300.jpg" 
              style="max-width: 100%; height: auto;" >
      </aside>   
    </section>


  </main>

  <!--  -->
  <%- include('partials/footer') %>

  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <script type="text/javascript" src="/js/login.js?v=<%= time %>"></script>
  <% } else { %>
  <script type="text/javascript" src="/js-min/login.obf.js?v=<%= time %>"></script>
  <% }  %>
</body>
</html>