
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>

  <!-- Font Awesome -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">

  <!-- SweetAlert2 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  <script src="/cdn/sweetalert2.all.min.js"></script>

  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/btngroup.css?v=<%= time %>">  
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">  
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/manageSettingsSystem.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/manageSettingsSystem.min.css?v=<%= time %>">
  <% }  %>
</head>
<body>

  <%- include('partials/notify.ejs', {msg:msg}) %> 
  <%- include('partials/nav.ejs') %>

  <header class="header-title">
    <p class="al-c fc-white">
      <i class="fas fa-cog mg-r-l"></i> 
      <span><%= title %></span>
    </p>
  </header>

  <main>

    <!-- Tab links -->
    <div class="tab">
      <div class="tabMenu" id="tab1Menu" onclick="event.preventDefault();openMenu(this,'tabcontent1')">อิเมล์</div>
      <div class="tabMenu" id="tab2Menu" onclick="event.preventDefault();openMenu(this,'tabcontent2')">ไอเท็ม</div>
      <!-- <div class="tabMenu" id="tab1Menu" onclick="event.preventDefault();openMenu(this,'tabcontent1')">เซิร์ฟเวอร์</div> -->
    </div>

    <!-- #1 -->
    <div id="tabcontent1" class="tabcontent">
      <%- include('partials/manageSettingsSystem_systemEmail.ejs' ) %>
    </div>

    <!-- #2 -->
    <div id="tabcontent2" class="tabcontent">
      <%- include('partials/manageSettingsSystem_items.ejs' ) %>
    </div>

    <!-- #1 : ห้ามลบ -->
    <!-- <div id="tabcontent1" class="tabcontent">
      <- include('partials/manageSettingsSystem_server.ejs' ) >
    </div> -->

  </main>


   

  <%- include('partials/footer') %>

  <!-- เริ่มต้นคลิกแท็บตอนโหลดหน้าเว็บ -->
  <script type="text/javascript">
    const tabNumberClicked = `<%= tabNumberClicked %>`;
  </script>

  <!--  -->
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <script type="text/javascript" src="/js/tabMenu.js"></script>
  <script type="text/javascript" src="/js/manageSettingsSystem.js?v=<%= time %>"></script>
  <% } else { %>
  <script type="text/javascript" src="/js-min/manageSettingsSystem.obf.js?v=<%= time %>"></script>
  <% }  %>
</body>
</html>




<!-- Buttons/Save -->
<!-- <section class="pd-l pd-b-xxl">
  <div class="row <= userAuthority != 'O' ? 'dp-n' : '' >">
    <label class="col-33"></label>
    <div class="col-33 btn-group">
      <input type="button" id="btnSave"  class="btn-show bg-save lh" value="Save"
              onclick="onBtnClicked(this,'ON')">
      <input type="submit" id="btnSaveConfirm" class="btn-confirm lh" value="Confirm">
      <input type="button" id="btnSaveCancel"  class="btn-cancel lh" value="Cancel"
              onclick="onBtnClicked(this,'CANCEL')">
    </div>
  </div>        
</section> -->

<!-- 
<section class="manageSystemCtn">

  <div>
    <label class="mg-b-m">สำรองฐานข้อมูล</label>
    <form id="backupForm" class="al-c"
          onsubmit="createSpinner()"
          action="<= PATH_BACKUP_DB >" method="post">
      <section class="d-flex">
        <button type="button" class="btn btn-sm bg-mediumseagreen" id="btnBackupDb">
          <i class="fas fa-database"></i> Backup Database
        </button>
        <button type="submit" class="btn btn-sm bg-green dp-n" id="btnConfirmBackupDb">
          <i class="fas fa-check-circle"></i> ยืนยัน
        </button>
      </section>
    </form>
  </div>  

  <div class="mg-t-xl">
    <label class="mg-b-m">อัปเดทระบบจาก Git</label>
    <form id="updateForm" class="al-c"
          onsubmit="createSpinner()"
          action="<= PATH_UPDATE_SYSTEM >" method="post">
      <section class="d-flex">
        <button type="button" class="btn btn-sm bg-cornblue" id="btnUpdateSystem">
          <i class="fas fa-sync"></i> Update System
        </button>
        <button type="submit" class="btn btn-sm bg-green dp-n" id="btnConfirmUpdateSystem">
          <i class="fas fa-check-circle"></i> ยืนยัน
        </button>
      </section>
    </form>
  </div>

  <div class="mg-t-xl">
    <label class="mg-b-m">เริ่มระบบใหม่</label>
    <form id="restartForm" class="al-c" 
          onsubmit="createSpinner()"
          action="<= PATH_RESTART_PM2 >" method="post">
      <section class="d-flex">
        <button type="button" class="btn btn-sm bg-dkorange" id="btnRestartPm2">
          <i class="fas fa-redo"></i> Restart (PM2)
        </button>
        <button type="submit" class="btn btn-sm bg-green dp-n" id="btnConfirmRestartPm2">
          <i class="fas fa-check-circle"></i> ยืนยัน
        </button>
      </section>
    </form>
  </div>



</section>
 -->
