<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/passwordForgot.css?v=<%= time %>">        
  <% } else { %>
  <link rel="stylesheet" href="/css-min/passwordForgot.min.css?v=<%= time %>">
  <% }  %>
</head>
<body>

  <%- include('partials/notify.ejs', {msg:msg}) %>
  <!--  -->
  <nav class="d-flex justify-content-between align-items-center ">
    <div> 
      <a class="nav-link" 
          href="<%= PATH_LOGIN %>">
        <i class="fas fa-sign-in-alt mg-r-m"></i>เข้าสู่ระบบ
      </a>      
    </div>
    <div>
      <span class="fc-white"><%= SYS_NAME %></span>
      <span class="fc-white"><%= SYS_NAME2 %></span>
      <small class="fc-ligray mg-l-m"><%= SYS_VERSION %></small>
    </div>  
  </nav>    

  <header class="header-title">
    <p class="al-c fc-white">
      <i class="fas fa-unlock-alt mg-r-l"></i>
      <span><%= title %></span>
    </p>
  </header>

  <main>    


    <!-- ลืมรหัสผ่าน -->
    <form action="<%= PATH_MAIN %>" method="POST" autocomplete="off">

      <!--  -->
      <div class="flex-row mg-t-xxl">          
        <label class="col-sm-f" style="word-break: break-word; white-space: normal;">             
          <span class="pd-r-s">✍</span> กรณี<span class="fc-lired">ลืมพาสเวิร์ด</span> ให้กรอกอิเมล์ แล้วคลิกปุ่ม <span class="fc-gy box-green"><i class="fa fa-envelope pd-r-s"></i> ส่ง</span> เราจะ<span class="fc-blue">ส่งลิงค์รีเซ็ตพาสเวิร์ต</span> ไปยังอิเมล์ดังกล่าว
        </label>
      </div>

      <!--  -->
      <div class="flex-row mg-t-m">
        <label class="col-sm-f"  style="word-break: break-word; white-space: normal;">   
          <span class="pd-r-s">✍</span> <span class="fc-blue">หากท่านได้รับลิงค์รีเซ็ตพาสเวิร์ด</span> แต่ท่านไม่ได้เป็นผู้กด <span class="fc-gray">(ส่งคำร้องขอให้รีเซ็ตพาสเวิร์ด)</span> <span class="fc-lired">ขอให้ท่านไม่ต้องสนใจ</span>
        </label>
      </div>

      <!--  -->
      <section class="flex-row mg-t-l pd-l-xxl pd-r-xxl">
        <div class="col-sm-f input-group">
          <label class="pd-r-s">
            <span>อิเมล์</span>
            <span class="fc-lime">*</span>
          </label>
          <input class="pd-l-m" type="email" 
                  name="inputEmail" placeholder="อิเมล์" 
                  required
                  <%= isValidToFill ? '' : 'disabled' %> >
        </div>
      </section>

      <!--  -->
      <section class="flex-main pd-l-xxl pd-r-xxl">

        <!--  -->
        <div class="flex-5 flex-row mg-t-xl">
          <!--  -->
          <div class="col-sm-7 input-group">
            <label class="pd-r-s">
              <span>กรอกเลขตรวจสอบ</span>
              <span class="fc-lime">*</span>
            </label>
            <input class="pd-l-m" type="text" 
                    name="resetCodeFill" placeholder="กรอกเลขตรวจสอบ" 
                    required
                    <%= isValidToFill ? '' : 'disabled' %> >
          </div>
          <!--  -->
          <div class="col-sm-3 input-group">
            <label class="pd-r-s"><span>เลขตรวจสอบ</span></label>
            <input class="pd-l-m al-c select-none" type="text" 
                    name="resetCode" placeholder="เลขตรวจสอบ"            
                    <%= isValidToFill ? 'readonly' : 'disabled' %>
                    required 
                    value="<%= resetCode %>" >
          </div>
        </div> 


      </section>

      <!--  -->
      <section class="flex-row mg-t-xxl pd-l-xxl pd-r-xxl">
        <div class="col-sm-3 input-group">
          <label class="pd-r-s"></label>
          <button class="bg-submit lh-label" type="submit">
            <i class="fa fa-envelope pd-r-s"></i> ส่ง
          </button>
        </div>
      </section>

    </form>

  </main>

  <%- include('partials/footer') %>
  
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <!-- <script type="text/javascript" src="/js/passwordForgot.js?v=<%= time %>"></script> -->
  <% } else { %>
  <script type="text/javascript" src="/js-min/passwordForgot.obf.js?v=<%= time %>"></script>
  <% }  %>

</body>
</html>
