<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta',{ time:time}) %>
    <title><%= title %></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
    <% if(!IS_PRODUCTION) { %>
    <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
    <link rel="stylesheet" href="/css/passwordForgot.css?v=<%= time %>">        
    <% } else { %>
    <link rel="stylesheet" href="/css-min/passwordForgot.min.css?v=<%= time %>">
    <% }  %>
  </head>
<body>

  <!-- header -->
  <%- include('partials/notify.ejs', {msg:msg}) %>

  <!-- Navigation -->
  <div class="nav-ctn">
    <nav >
      <div class="nav-1 lh-label"> 
        <a class="nav-link" 
           href="<%= PATH_LOGIN %>">
          <i class="fas fa-sign-in-alt mg-r-m"></i>เข้าสู่ระบบ
        </a>
      </div>
      <div class="nav-2 lh-label">&nbsp;</div>
      <div class="nav-3 lh-label">
        <span class="fc-white"><%= SYS_NAME %></span>
        <span class="fc-white"><%= SYS_NAME2 %></span>
        <small class="fc-ligray mg-l-m"><%= SYS_VERSION %></small>
      </div>    
    </nav>
  </div>

  <main>

    <!-- Title -->
    <section class="main-title">
      <h1 class="text-white">
        <span><%= title %></span>
      </h1>
    </section>
    
    <section class="main-left" >
      
      <!-- Head -->
      <h3 class="bb4 bg-main-dark bdr3">
        <div class="pd-l-xl lh-label">
          <i class="fa fa-key pd-r-l"></i>
        </div>
      </h3>

      <!-- ลืมรหัสผ่าน -->
      <form action="<%= PATH_MAIN %>" 
            method="POST" class="pd-t-xxl" autocomplete="off">

        <!--  -->
        <div class="row mg-t-m">          
          <label class="col-f" style="word-break: break-word; white-space: normal;">             
            <span class="pd-l-l pd-r-s">✍</span> กรณี<span class="fc-lired">ลืมพาสเวิร์ด</span> ให้กรอกอิเมล์ แล้วคลิกปุ่ม <span class="fc-gy box-green"><i class="fa fa-envelope pd-r-s"></i> ส่ง</span> เราจะ<span class="fc-blue">ส่งลิงค์รีเซ็ตพาสเวิร์ต</span> ไปยังอิเมล์ดังกล่าว
          </label>
        </div>

        <!--  -->
        <div class="row mg-t-m">
          <label class="col-f"  style="word-break: break-word; white-space: normal;">   
            <span class="pd-l-l pd-r-s">✍</span> <span class="fc-blue">หากท่านได้รับลิงค์รีเซ็ตพาสเวิร์ด</span> แต่ท่านไม่ได้เป็นผู้กด <span class="fc-gray">(ส่งคำร้องขอให้รีเซ็ตพาสเวิร์ด)</span> <span class="fc-lired">ขอให้ท่านไม่ต้องสนใจ</span>
          </label>
        </div>

        <!--  -->
        <section class="fields-ctn">

          <!--  -->
          <div class="row mg-t-xxl">
            <div class="col-f input-group">
              <label class="pd-r-s">
                <span>อิเมล์</span>
                <span class="fc-lime">*</span>
              </label>
              <input class="pd-l-m" type="email" 
                     name="inputEmail" placeholder="อิเมล์" 
                     required
                     <%= isValidToFill ? '' : 'disabled' %> >
            </div>
          </div>
  
          <!--  -->
          <div class="row mg-t-xl">
            <!--  -->
            <div class="col-7 input-group">
              <label class="pd-r-s">
                <span>กรอกเลขตรวจสอบ</span>
                <span class="fc-lime">*</span>
              </label>
              <input class="pd-l-m" type="text" 
                     name="resetCodeFill" placeholder="กรอกเลขตรวจสอบ" 
                     required
                     <%= isValidToFill ? '' : 'disabled' %> >
            </div>
            <!--  -->
            <div class="col-3 input-group">
              <label class="pd-r-s"><span>เลขตรวจสอบ</span></label>
              <input class="pd-l-m al-c select-none" type="text" 
                     name="resetCode" placeholder="เลขตรวจสอบ"            
                     <%= isValidToFill ? 'readonly' : 'disabled' %>
                     required 
                     value="<%= resetCode %>" >
            </div>
          </div>
  
          <!--  -->
          <div class="row mg-t-xxl">
            <div class="col-3 input-group">
              <label class="pd-r-s"></label>
              <button class="bg-submit lh-label" type="submit">
                <i class="fa fa-envelope pd-r-s"></i> ส่ง
              </button>
            </div>
          </div>

        </section>

      </form>

    </section>

  </main>

  <%- include('partials/footer') %>
  
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <!-- <script type="text/javascript" src="/js/passwordForgot.js?v=<%= time %>"></script> -->
  <% } else { %>
  <script type="text/javascript" src="/js-min/passwordForgot.obf.js?v=<%= time %>"></script>
  <% }  %>

</body>
</html>
