
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
  <!-- SweetAlert2 -->
  <script src="/cdn/sweetalert2.all.min.js"></script>
  <!-- Flatpkr -->
  <link rel="stylesheet" href="/cdn/flatpickr.min.css">
  <script src="/cdn/flatpickr.js"></script>

  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/modal.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/proguessBar.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/reportItems.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/reportItems.min.css?v=<%= time %>">
  <% }  %>
</head>
<body>

  <!-- header -->
  <%- include('partials/nav.ejs') %>
  <%- include('partials/notify.ejs', {msg:msg}) %> 

  <!-- -->
  <header class="header-title <%= bgClassColor %>">
    <p class="al-c fc-white">
      <span><%= title %></span>
    </p>
  </header>

  <main>    

    <!-- รายงานสรุปไอเท็ม -->
    <section class="main-left">

      <div class="flex-row">
        <label class="col-sm-w100 al-c">
          <span>รายงานสรุปไอเท็ม</span>
          <span class="fc-gray">[เอกสารสถานะ 2]</span>
        </label>
      </div>
  
      <!-- เดือน -->
      <div class="flex-row">
        <button class="btn btn-sm bg-report-m-1 mg-r-s" type="button" title="ดูรายงาน"
                id="btn_v_concludeMonth">
          <i class="fa fa-eye"></i> 
        </button>

        <label class="al-r pd-r-s">เดือน</label>
        <select class="col-sm-w100 al-c" id="selectMonth_conclude">
          <% monthDocs.forEach( m => { %>
          <option value="<%= m.month %>"><%= m.monthName %></option>
          <% }) %>
        </select>

        <button class="btn btn-sm bg-report-m-1 nowrap" type="button" title="สร้างรายงาน"
                id="btn_g_concludeMonth"> <!-- <i class="fa fa-archive mg-r-s"></i> -->
          สร้างรายงานเดือน
        </button> 
      </div>

      <!-- วัน -->
      <div class="flex-row">
        <button class="btn btn-sm bg-report-d-1 mg-r-s" type="button" title=" ดูรายงาน(เดี่ยว)"
                id="btn_v_concludeDay">
          <i class="fa fa-eye"></i> 

        </button>
        <label class="al-r pd-r-s">วันที่</label>
        <input class="col-sm-w100 al-c bg-white clickable bdr3" type="date" 
               id="selectDateTh_conclude">
        <button class="btn btn-sm bg-report-d-1 nowrap" type="button" 
                id="btn_g_concludeDay"> <!-- <i class="fa fa-archive mg-r-s"></i> -->
          สร้างรายงานวัน
        </button> 
      </div>

    </section>
    
    <!--  -->
    <section class="main-right">

      <div class="flex-row">
        <label class="col-sm-w100 al-c">
          <span>รายงานแตกไอเท็ม</span>
          <span class="fc-gray">[เอกสารสถานะ 2]</span>
        </label>
      </div>
      
      <div class="flex-row">
        <button class="btn btn-sm bg-report-m-2 mg-r-s" type="button" title=" ดูรายงานไอเท็ม"
                id="btn_v_breakdown_month">
          <i class="fa fa-eye"></i> 
        </button>

        <label class="al-r pd-r-s">เดือน</label>
        <select class="col-sm-w100 al-c" id="selectMonth_breakdown">
          <% monthDocs.forEach( m => { %>
          <option value="<%= m.month %>"><%= m.monthName %></option>
          <% }) %>
        </select>

        <button class="btn btn-sm bg-report-m-2 nowrap" type="button" 
                id="btn_g_breakdown_month">  <!-- <i class="fa fa-archive mg-r-s"></i> -->
                สร้างรายงานเดือน
        </button> 
      </div>

      <!--  -->
      <div class="flex-row">
        <button class="btn btn-sm bg-report-d-2 mg-r-s" type="button" title=" ดูรายงานไอเท็ม"
                id="btn_v_breakdown_day">
          <i class="fa fa-eye"></i> 

        </button>
        <label class="al-r pd-r-s">วันที่</label>
        <input class="col-sm-w100 al-c bg-white clickable bdr3" type="date" 
              id="selectDateTh_breakdown">
        <button class="btn btn-sm bg-report-d-2 nowrap" type="button" 
                id="btn_g_breakdown_day"> <!-- <i class="fa fa-archive mg-r-s"></i> -->
          สร้างรายงานวัน
        </button> 
      </div>

    </section>

    <!--  -->
    <section class="main-bottom" id="resultTableCtn"></section>

  </main>

  <%- include('partials/progressBar') %>
  <%- include('partials/footer') %>

  <script type="text/javascript">
    const DOMAIN_ALLOW = `<%= global.DOMAIN_ALLOW %>`
    const USER_AUTHORITY = `<%= user.userAuthority %>`
    const PATH_MAIN = `<%= PATH_MAIN %>`
    const PATH_G_BREAKDOWN_1 = `<%= PATH_G_BREAKDOWN_1 %>`
    const PATH_G_BREAKDOWN_2 = `<%= PATH_G_BREAKDOWN_2 %>`
    const PATH_V_BREAKDOWN = `<%= PATH_V_BREAKDOWN %>`
    const PATH_G_CONCLUDE_ITEMS = `<%= PATH_G_CONCLUDE_ITEMS %>`
    const PATH_V_CONCLUDE_ITEMS = `<%= PATH_V_CONCLUDE_ITEMS %>`
    const PATH_LOAD_ITEM = `<%= PATH_LOAD_ITEM %>`
  </script>

  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <script type="text/javascript" src="/js/report_windows.js?v=<%= time %>"></script>
  <!-- <script type="text/javascript" src="/js/report_modal.js?v=<%= time %>"></script> -->
  <script type="text/javascript" src="/js/reportItems.js?v=<%= time %>"></script>
  <% } else { %>
  <script src="/js-min/reportItems.obf.js"></script>
  <% }  %>

</body>
</html>


<!-- ใช้กับปฏิทินเท่านั้น -->
<template id="windowTemplate">
  <div class="window-ctn pd-xs" name="windowCtn">

    <!-- TITLE -->
    <!-- <div class="window-title" name="windowTitle">
      <p>
        <span name="titleText_a" class="titleText1 fc-white pd-l-"></span>
        <span name="titleText_b" class="titleText2 fc-lime"></span>
        <span name="titleText_c" class="titleText3 fc-yellow"></span>    
        <span name="btnClose"    class="close-window"   onclick="closeWindow(this)">&#10006</span>
        <span name="btnCopy"     class="expand-window"  onclick="copyTable(this)">copy</span>
        <span class="clickable expand-window" 
              data-direction="up"
              onclick="moveWindow(this)">&#8679;</span>
        <span class="clickable expand-window" 
              data-direction="down"
              onclick="moveWindow(this)">&#8681;</span>
      </p>
    </div>
    <div class="window-title2" name="windowTitle2"></div> 
    -->

    <!-- TABLE CTN -->
    <div class="" name="tableCtn"></div>
  </div>
</template>

