<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta',{ time:time}) %>
  <title><%= title %></title>  

  <!-- Font Awesome -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/cdn/fontawesome/css/all.min.css">
  <!-- SweetAlert2 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  <script src="/cdn/sweetalert2.all.min.js"></script>

  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="/css/utils.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/fonts.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/alink.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/toast.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/input.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/flexNew.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/pagination5btns3.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/tableFix1col.css?v=<%= time %>"> 
  <link rel="stylesheet" href="/css/footer.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/nav.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/same.css?v=<%= time %>">
  <link rel="stylesheet" href="/css/suppliers.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="/css-min/suppliers.min.css?v=<%= time %>">
  <% }  %>

</head>
<body>
  <!-- header -->
  <%- include('partials/nav.ejs') %>
  <%- include('partials/notify.ejs', {msg:msg}) %> 

  <% 
    const isItem = item != null
  %>

  <header class="header-title">
    <p class="al-c fc-white">
      <i class="fa-solid fa-truck mg-r-l"></i> 
      <span><%= title %></span>
    </p>
  </header>


  <main>    
    
    <!-- 
    **********************************************************
    **********************************************************
    **********************************************************
    *********************** LEFT *****************************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <!-- LEFT -->
    <section class="main-left">

      <!--  -->
      <form class="dp-n"
            id="excelForm" autocomplete="off"
            action="<%= PATH_UPLOAD_EXCEL %>" 
            method="post" enctype="multipart/form-data">

          <div class="flex-row fc-red fs-sn mg-b-m">ห้ามอัปโหลดขณะเปิดทำการ</div>

          <div class="flex-row">
            <button class="btn btn-sm bg-download" 
                    id="btnDownloadExcel" title="ดาวน์โหลดเป็น Excel">
              <i class="fas fa-download"></i>
            </button>
    
            <label class="pd-l-l pd-r-m al-r" title="อัปโหลดจากไฟล์ Excel .xlsx">
              <i class="fas fa-file-excel"></i>
              <span>อัปโหลด</span>
            </label>
            <input class="al-l pd-l-m w-100" type="file" 
                  title="ไฟล์ Excel .xlsx ไม่เกิน 50MB"
                  accept=".xlsx"
                  style="max-width: 400px;"
                  name="uploadExcelFile"
                  id="uploadExcelFile">
            <button class="btn btn-sm bg-upload" 
                    type="submit" title="อัปโหลดจากไฟล์ Excel">
                <i class="fas fa-upload"></i>
            </button>
          </div>
      </form>

      <form id="mainForm" class="" autocomplete="off" 
            onsubmit="createSpinner()"
            action="<%= PATH_SAVE %>" method="post">

        <!-- hidden -->
        <input type="hidden" name="rpp" value="<%= rpp %>">
        <input type="hidden" name="sip" value="<%= sip %>">
        <input type="hidden" name="page" value="<%= page %>">
        
        <!--  -->
        <input type="hidden" id="_id" name="_id" value="<%= isItem ? item._id : '' %>">

        <!-- #1 : Toolbar-->
        <div class="toolbar-ctn d-flex justify-content-between">
          <button class="btn  btn-sm  bg-new pd-r-l pd-l-l" 
                  onclick="event.preventDefault();newJs(event)">
            <i class="fas fa-plus-circle"></i>
            <!-- สร้างใหม่ -->
          </button>

          <button class="btn btn-sm bg-print pd-r-l pd-l-l"
                  onclick="event.preventDefault();printJs(event)">
            <i class="fas fa-print"></i>
            <!-- พิมพ์ -->
          </button>

          <button class="btn btn-sm bg-upload pd-r-l pd-l-l" id="btnUploadTool" title="แสดงแถบเครื่องมืออัปโหลดไอเท็ม">
            <i class="fas fa-file-excel"></i>
          </button>

          <button type="submit" class="btn  btn-sm  bg-save pd-r-l pd-l-l">
            <i class="fas fa-save"></i>
            <!-- บันทึก -->
          </button>
        </div>

        <!-- User Information -->
        <div class="form-body">

          <!-- Row1 -->
          <div class="flex-row">
            <!--  -->
            <div class="col-sm-4 input-group">
              <label class="pd-r-s al-l lh-label" title="เลขที่ผู้จัดจำหน่าย">
                <i class="fas fa-hashtag mg-r-m"></i>เลขที่ผู้จัดจำหน่าย
              </label>
              <input class="al-c" type="text" id="supplierId" name="supplierId" 
                     required readonly   
                     placeholder="เลขที่ผู้จัดจำหน่าย" readonly
                     value="<%= isItem ? item.supplierId : '' %>">
            </div>

            <!--  -->
            <div class="col-sm-3 input-group">
              <label class="pd-r-s al-l lh-label" title="ประเภท">
                <i class="fas fa-tags"></i> ประเภท <span>*</span>
              </label>
              <select class="al-c" name="supplierType" id="supplierType">
                <% if( isItem ){ %>
                  <option value="">-</option>
                  <option <%= item.supplierType == 'personal' ? 'selected' : '' %> value="personal">บุคคล</option>
                  <option <%= item.supplierType == 'organization' ? 'selected' : '' %> value="organization">องค์กร</option>
                <% }else{ %>
                  <option value="">-</option>
                  <option value="personal">บุคคล</option>
                  <option value="organization">องค์กร</option>
                <% } %>
              </select>
            </div>

            <!--  -->
            <div class="col-sm-3 input-group">
              <label class="pd-r-s al-l lh-label" title="สถานะ">
                <i class="fas fa-flag"></i> สถานะ <span>*</span>
              </label>
              <select class="al-c" name="supplierStatus" id="supplierStatus">
                <% if( isItem ){ %>
                  <option <%= item.supplierStatus == 'active' ? '' : 'selected' %> value="">-</option>
                  <option <%= item.supplierStatus == 'active' ? 'selected' : '' %> value="active">active</option>
                <% }else{ %>
                  <option value="-">-</option>
                  <option value="active">active</option>
                <% } %>
              </select>
            </div>

          </div> <!-- Row1 -->

          <!-- Row2 -->
          <div class="row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="supplierName">
                <i class="fas fa-font"></i> ชื่อ *
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierName" name="supplierName" placeholder="ชื่อ"
                     required
                     value="<%= isItem ? item.supplierName : '' %>">
            </div>  

          </div> <!-- Row2 -->    

          <!-- Row9 -->
          <div class="row mg-t-s gap-1">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="supplierTaxId">
                <i class="fas fa-user"></i> ผู้ติดต่อ
              </label>
              <input class="pd-l-m al-l" type="text"
                     placeholder="ผู้ติดต่อ"
                     id="supplierContactPerson" name="supplierContactPerson" 
                     value="<%= isItem ? item.supplierContactPerson : '' %>">
            </div>
          </div> <!-- Row9-->

          <!-- Row3 -->
          <div class="row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="supplierAddress2">
                <i class="fas fa-map-marker-alt"></i> ที่อยู่1
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierAddress1" name="supplierAddress1" placeholder="ที่อยู่1"
                     value="<%= isItem ? item.supplierAddress1 : '' %>">
            </div>
          </div> <!-- Row3 -->    

          <!-- Row4 -->
          <div class="row mg-t-s">
            <div class="col-f input-group">
              <label class="pd-r-s al-l" title="supplierAddress2">
                <i class="fas fa-map-marker-alt"></i> ที่อยู่2
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierAddress2" name="supplierAddress2" placeholder="ที่อยู่2"
                     value="<%= isItem ? item.supplierAddress2 : '' %>">
            </div>
          </div> <!-- Row4 -->    

          <!-- Row5 -->
          <div class="flex-row mg-t-s">

            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="supplierProvince">
                <i class="fas fa-map-marker-alt"></i> จังหวัด
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierProvince" name="supplierProvince" 
                     placeholder="จังหวัด"
                     value="<%= isItem ? item.supplierProvince : '' %>">
            </div>

            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="supplierPhone">
                <i class="fas fa-phone"></i> โทรศัพท์
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierPhone" name="supplierPhone" 
                     placeholder="โทรศัพท์"
                     value="<%= isItem ? item.supplierPhone : '' %>">
            </div>
          </div> <!-- Row5 -->    

          
          <!-- Row6 -->
          <div class="flex-row mg-t-s">
            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="supplierEmail">
                <i class="fas fa-envelope"></i> อีเมล
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierEmail" name="supplierEmail" 
                     placeholder="อีเมล"
                     value="<%= isItem ? item.supplierEmail : '' %>">
            </div>
          
            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="supplierWebsite">
                <i class="fas fa-globe"></i> เว็บไซต์
              </label>
              <input class="pd-l-m al-l" type="text"
                     id="supplierWebsite" name="supplierWebsite" 
                     placeholder="เว็บไซต์"
                     value="<%= isItem ? item.supplierWebsite : '' %>">
            </div>
          </div> <!-- Row7 -->    


          <!-- Row8 -->
          <div class="flex-row mg-t-s">
            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="supplierTaxId">
                <i class="fas fa-id-card"></i> เลขประจำตัวผู้เสียภาษี
              </label>
              <input class="pd-l-m al-l" type="text"
                     placeholder="เลขประจำตัวผู้เสียภาษี"
                     id="supplierTaxId" name="supplierTaxId" 
                     pattern="<%= global.TAXID_PATTERN %>"
                     title="<%= global.TAXID_DESCRIPTION %>"
                     value="<%= isItem ? item.supplierTaxId : '' %>">
            </div>

            <div class="col-sm-5 input-group">
              <label class="pd-r-s al-l" title="supplierIdentityId">
                <i class="fas fa-id-card"></i> เลขประจำตัวประชาชน
              </label>
              <input class="pd-l-m al-l" type="text"
                     placeholder="เลขประจำตัวประชาชน"
                     id="supplierIdentityId" name="supplierIdentityId" 
                     pattern="<%= global.IDENTITYID_PATTERN %>"
                     title="<%= global.IDENTITYID_DESCRIPTION %>"
                     value="<%= isItem ? item.supplierIdentityId : '' %>">
            </div>
          </div> <!-- Row8-->



        </div>

      </form>

    </section>
      
    
    <!-- 
    **********************************************************
    **********************************************************
    **********************************************************
    *********************** RIGHT ****************************
    **********************************************************
    **********************************************************
    **********************************************************
    -->

    <!-- RIGHT -->
    <section class="main-right">

      <!-- Search -->
      <form class="row toolbar-ctn pd-b-m" 
            action="<%= PATH_MAIN %>" method="get" 
            onsubmit="createSpinner()">
        <!-- -->
        <input type="hidden" name="load_id" value="<%= load_id %>">       


        <!--  -->
        <div class="flex-row flex-nowarp w-100">
          <button class="col-sm-1 btn btn-sm bg-search pd-l-l pd-r-l" type="submit">
            <i class="fas fa-search"></i>
          </button>
          <input class="col-sm-5 al-c clickable" type="search"
                 id="sip" name="sip" placeholder="เลขที่, ชื่อ"
                 value="<%= sip ? sip : '' %>">
          <label class="col-sm-2 al-r pd-r-s">แถว/หน้า</label>
          <select class="col-sm-2 al-c" 
                  name="rpp" id="rpp" onchange="this.form.submit()">
            <option value="10" <%= rpp == '10' ? 'selected' : '' %> >10</option>
            <option value="20" <%= rpp == '20' ? 'selected' : '' %> >20</option>
            <option value="30" <%= rpp == '30' ? 'selected' : '' %> >30</option>
            <option value="50" <%= rpp == '50' ? 'selected' : '' %> >50</option>
            <option value="100" <%= rpp == '100' ? 'selected' : '' %> >100</option>
            <option value="200" <%= rpp == '200' ? 'selected' : '' %> >200</option>
            <option value="500" <%= rpp == '500' ? 'selected' : '' %> >500</option>
            <option value="1000" <%= rpp == '1000' ? 'selected' : '' %> >1000</option>
            <option value="2000" <%= rpp == '2000' ? 'selected' : '' %> >2000</option>
          </select>
        </div>

      </form>

      <!-- Pagination5btns -->
      <div class="pgMainCtn">
        <%- include('partials/pagination5btns3.ejs') %>
      </div>

      <!-- ตาราง -->
      <section class="">

        <!-- 
        **********************************************************
        **********************************************************
        **********************************************************
        *********************** Table ****************************
        **********************************************************
        **********************************************************
        **********************************************************
        -->

        <!-- ตาราง -->
        <div id="tableCtn" class="table-ctn">

          <table>

            <!--  -->
            <colgroup>
              <col style="width: 1%;">
              <col style="width: auto;">
              <col style="width: auto;">
              <col style="width: 1%;">
              <col style="width: 1%;">
            </colgroup>

            <!--  -->
            <thead id="tableHeader">
              <tr>
                <th class="al-c pd-l-s pd-r-s"><i class="fas fa-edit"></i></th>
                <th class="al-c clickable" onclick="sortTableJs(this, 1)" title="เลขที่ผู้จัดจำหน่าย">
                    <i class="fas fa-hashtag"></i>
                </th>
                <th class="al-c clickable" onclick="sortTableJs(this, 2)" title="ชื่อ">
                  <i class="fas fa-font"></i> 
                </th>
                <th class="al-c pd-l-s pd-r-s"><i class="fas fa-trash-alt"></i></th>
                <th class="al-c pd-l-s pd-r-s" title="Changes">
                  <i class="fas fa-exchange-alt"></i>
                </th>
              </tr>
            </thead>

            <tbody id="tableContent">
              <% data.forEach( (obj,index) => { %>
              <%
                const lineSwap = index%2 == 0 ? 'bg-line-swap' : ''
                const classLoad = obj._id == load_id ? 'bg-load-active' : 'bg-load-inactive'
                const class1Color = obj.supplierStatus == 'active' ? 'fc-blue' : 'fc-gray fx-x'
                const class2Color = obj.supplierStatus == 'active' ? 'fc-green' : 'fc-gray fx-x' 
              %>

              <!-- mg-s ที่ปุ่มมีผลต่อความสูงของแถว -->
              <tr class="<%= index%2 == 0 ? 'bg-line-swap' : 'bg-main-color' %>">

                <!-- #1 -->
                <td class="al-c" title="<%= (page-1)*rpp+(index+1) %>">
                  <form action="<%= PATH_LOAD %>" method="post" style="width: 100%">
                    <!-- hidden-loop -->
                    <input type="hidden" name="_id" value="<%= obj._id %>">
                    <input type="hidden" name="load_id" value="<%= obj._id %>">
                    <input type="hidden" name="rpp" value="<%= rpp %>">
                    <input type="hidden" name="sip" value="<%= sip %>">
                    <input type="hidden" name="page" value="<%= page %>">
                    <button type="submit" class="mg-s pd-l-l pd-r-l pd-t-s pd-b-s <%= classLoad %>">
                      <i class="fas fa-edit"></i>
                    </button>
                  </form>
                </td>

                <!-- #2 -->
                <td class="pd-l-s al-c nowrap t-supplierId <%= class1Color %>" title="<%= obj.supplierId %>">
                  <%= obj.supplierId %>
                </td>

                <!-- #3 -->
                <td class="pd-l-s nowrap <%= class1Color %>" title="<%= obj.supplierName %>">
                  <%= obj.supplierName && obj.supplierName.length > 30 ? obj.supplierName.substring(0, 30) + '...' : obj.supplierName %>
                </td>

                <!-- #4 -->
                <td class="al-c">
                  <% if(obj.isCanDelete  && obj.canDelete != false  ){ %>
                    <form class="" action="<%= PATH_DELETE %>" method="post">
                      <!-- hidden-loop -->
                      <input type="hidden" name="idToDelete" value="<%= obj._id %>">
                      <input type="hidden" name="supplierId" value="<%= obj.supplierId %>">
                      <!-- hidden -->
                      <input type="hidden" name="load_id" value="<%= load_id %>">
                      <input type="hidden" name="rpp" value="<%= rpp %>">
                      <input type="hidden" name="sip" value="<%= sip %>">
                      <input type="hidden" name="page" value="<%= page %>">
                      <!--  -->
                      <!-- btn-delete ใช้สำหรับ SWal -->
                      <button type="submit" class="mg-s btn-delete bg-delete pd-l-l pd-r-l pd-t-s pd-b-s">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                  <% }else{ %>
                    <span class="fc-gray">-</span>
                  <% } %>
                </td>

                <!-- #5 -->
                <td class="al-c pd-l-s pd-r-s" title="ประวัติการเปลี่ยนแปลง">
                  <% if(obj.changesHistoryCount > 0) { %>
                    <form action="<%= PATH_CHANGES %>" method="post">
                      <input type="hidden" name="supplierId" value="<%= obj.supplierId %>">
                      <!-- btn-print-changes ใช้สำหรับ Swal -->
                      <button type="button" class="btn-print-changes bg-change pd-l-l pd-r-l pd-t-s pd-b-s">
                        <i class="fas fa-print"></i>
                      </button>
                    </form>
                  <% }else{ %>
                    <span>-</span>
                  <% } %>
                </td>
                
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>  

      </section>

    </section>

  </main>  

  <%- include('partials/footer') %>

  <!--  -->
  <script type="text/javascript">
    var PATH_MAIN = `<%= PATH_MAIN %>` ;     
    var PATH_PRINT = `<%= PATH_PRINT %>` ;
    var PATH_DOWNLOAD_EXCEL = `<%= PATH_DOWNLOAD_EXCEL %>` ;
    var PATH_UPLOAD_EXCEL = `<%= PATH_UPLOAD_EXCEL %>` ;
    var PREFIX = '<%= PREFIX %>' ; 
  </script>
  <% if(!IS_PRODUCTION) { %>
  <script type="text/javascript" src="/js/script_all.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/nav.js?v=<%= time %>"></script>
  <script type="text/javascript" src="/js/notify.js"></script>
  <script type="text/javascript" src="/js/suppliers.js?v=<%= time %>"></script>
  <% } else { %>
  <script src="/js-min/suppliers.obf.js"></script>
  <% }  %>

</body>
</html>














