
<!DOCTYPE html>
<html lang="en">
<head>

  <title><%= title %></title>

  <% if(!IS_PRODUCTION) { %>
  <link rel="stylesheet" href="<%= global.DOMAIN_ALLOW %>/css/utils.css?v=<%= time %>">
  <!-- <link rel="stylesheet" href="<= global.DOMAIN_ALLOW >/css/flexNew.css?v=<= time >"> -->
  <% } else { %>
  <link rel="stylesheet" href="<%= global.DOMAIN_ALLOW %>/css-min/doc_print.min.css">
  <% }  %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;700&display=swap');
    * {
      font-family: "Anuphan", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
    }
    body{ 
      font-size: 0.75rem;
      background: white!important; 
      width: 80mm;
    }
    main{ 
      padding:0.5cm;
      width: 80mm;
      overflow: hidden;
      margin: auto;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 1px;
      overflow: hidden;
      font-size: 0.7rem; /* white-space: nowrap; */
      background: white;
      color: black;
    }
    @media print {  .no-print { display: none; } }
  </style>


</head>
<body>

  <!-- MAIN CONTAINER -->
  <main>
    <p class="al-c fw-b mg-b-l fs-m underline"><%= doc.docTitle %></p>
    <p class="al-l ">เลขที่เอกสาร : <span class="fw-b box-black"><%= doc.docId %></span></p>
    <p class="al-l ">สถานะ : 
      <span class="fw-b box-black"><%= doc.docStatusNumber %></span>
      <span class="fw-b"><%= doc.statusName %></span>
    </p>
    <p class="al-l">วันที่และเวลา : <span class="fw-b"><%= doc.docDateTime %></span></p>
    <p class="al-l mg-t-m">สาขา : <span class="fw-b">[<%= doc.branchId %>] <%= doc.branchName %></span></p>
    <p class="al-l">ยูสเซอร์ : <span class="fw-b">[<%= doc.userId %>] <%= doc.userFullname.length > 22 ? doc.userFullname.substring(0, 22) + '..' : doc.userFullname %></span></p>

    <% if(doc.supplierId) { %>
    <p class="al-l mg-t-m">ผู้จัดจำหน่าย : <span class="fw-b">[<%= doc.supplierId %>] <%= doc.supplierName %></span></p>
    <% } %>


    <% if(['sales','return','warehouseIn'].includes(docType)) { %>
    <p class="al-l mg-t-m">รวม : <span class="fw-b"><%= doc.totalAmount %></span></p>
    <% } %>

    <% if(doc.paymentMethod1) { %>      
    <p class="al-l">ชำระเงิน1 : 
      <span class="">[<%= doc.paymentMethod1Name %>]</span> 
      <span class="fw-b"><%= doc.paymentAmount1 %></span>
    </p>
    <% } %>

    <% if(doc.paymentMethod2) { %>
    <p class="al-l">ชำระเงิน2 : 
      <span class="">[<%= doc.paymentMethod2Name %>]</span> 
      <span class="fw-b"><%= doc.paymentAmount2 %></span>
    </p>
    <% } %>

    <% if(doc.tableRows && doc.tableRows.length > 0) { %>
      <% doc.tableRows.forEach( (obj, index) => { %>
      <div class="pd-t-m pd-b-m bb-d <%= index == 0 ? 'bt-d mg-t-m' : '' %>">
        <p class="al-l"><%= index+1 %>.) [<%= obj.itemId  %>]</p>
        <p class="al-l fw-b"><%= obj.description %></p>
        <p class="al-l">
          <span>จำนวน</span>
          <span class="fw-b box-black"><%= obj.quantity ? obj.quantity : '-' %></span>
          <span class="fw-b"><%= obj.unit %></span>
          <span>x</span>
          <span class="fw-b"><%= obj.price ? obj.price : '-' %></span>
          <span>=</span>
          <span class="fw-b"><%= obj.amount ? obj.amount : '-' %></span>
        </p>
      </div>
      <% }) %>
    <% } %>

    <!-- ฟอร์มให้เซ้นชื่อ -->
    <% if( doc.paymentMethod2 == 'Debt') { %>
    <section class="box-black mg-t-m pd-b-m">
      <p class="al-l pd-t-xl pd-b-xl">ผู้ค้างชำระ : </p>
      <p class="al-l pd-t-xl pd-b-xl mg-b-l">ลงชื่อ : </p>
    </section>
    <% } %>

    <!-- การชำระหนี้ -->
    <% if( doc.paymentMethod2 == 'Debt') { %>
    <section class="mg-t-m pd-t-m bt-d bb-d">
      <% if( doc.payDebtRows && doc.payDebtRows.length > 0 ) { %>
        <p class="al-c">
          <span>รายการชำระหนี้</span>
          <%- doc.isDebtPaidOff ? '<span class="fw-b">[ ชำระครบแล้ว ]</span>' : '' %>
        </p>
        <% doc.payDebtRows.forEach( (obj, index) => { %>
          <div class="pd-t-s pd-b-s <%= index > 0 ? 'bt-d' : '' %>">
            <p class="al-l">
              <span class="">วันที่</span>
              <span class="fw-b"><%= obj.dateTime %></span>
            </p>
            <p class="al-l">
              <span>จำนวนเงิน : </span>
              <span class="fw-b"><%= obj.amount %></span>
            </p>
            <p class="al-l">
              <span>ผู้รับชำระ : </span>
              <span class="fw-b">[<%= obj.userId %>] <%= obj.userFullname.length > 22 ? obj.userFullname.substring(0, 22) + '..' : obj.userFullname %></span>
            </p>
          </div>
        <% }) %>
      <% } %>
    </section>
    <% } %>

    <section class="mg-t-s al-c">
      <p class="fs-s">
        <%= settings.COMPANY_NAME %>
      </p>
      <p class="fs-ss">
        <%= global.SYS_NAME %> <%= global.SYS_NAME2 %> v.<%= global.SYS_VERSION %>
      </p>
    </section>

  </main>

  <!--  -->
  <% if(action == 'print') { %>
  <footer class="al-c no-print d-flex justify-content-between pd-l-l pd-r-l">
    <button class="btn bg-black fc--white pd-l-xxl pd-r-xxl pd-t-l pd-b-l clickable" 
            type="button" onclick="window.print()">พิมพ์
    </button>
    <button class="btn bg-black fc--white pd-l-xxl pd-r-xxl pd-t-l pd-b-l clickable" 
            type="button" onclick="window.close()">ปิดหน้าต่าง
    </button>
  </footer>
  <% } %>

</body>
</html>


