<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title><%= title ? title : '-' %></title>

  <% if(!global.IS_PRODUCTION) { %>
  <link rel="stylesheet" href="<%= global.DOMAIN_ALLOW %>/css/utils.css?v=<%= time %>">
  <% } else { %>
  <link rel="stylesheet" href="<%= global.DOMAIN_ALLOW %>/css-min/print_itemsCategories.min.css">
  <% }  %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');
    * {
      font-family: "Anuphan", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
    }
    body{
      max-width: 21cm;
      margin: auto; 
    }
    main{ 
      padding-top:0.5cm;
      width: 19cm;
      overflow: hidden;
      margin: auto;
    }
    footer{ 
      width: 19cm;
      margin: auto;
    }

    p{ 
      font-size: 0.85rem;
      margin-top: 0!important;
      margin-bottom: 0!important;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 1px;
      overflow: hidden;
      font-size: 0.6rem; /* white-space: nowrap; */
      background: white;
    }

    .page-break-after { 
      page-break-after: always; 
      border-bottom: 1px dashed gray ;
      padding-bottom: 10px;
    } 

    @media print {  .no-print { display: none; } }
  </style>

</head>
<body> 

  <main class="">
    
    <p class="al-c fs-s"><%= title %> [<%= dateTime %>]</p>  

    <!--  -->
    <table style="width: 100%;">
      <thead>
        <tr>
          <th class="ba-k bg-eee">ลำดับ</th>
          <th class="ba-k bg-eee">ไอดี</th>
          <th class="ba-k bg-eee">ชื่อ</th>
          <th class="ba-k bg-eee">สถานะ</th>
        </tr>
      </thead>
      <tbody>
        <% if(data && data.length > 0){ %>
          <% data.forEach( (obj,index) => { %>
          <%
            const colorActive = obj.categoryStatus === 'active' ? '' : 'strike fc-777' ;
          %>
          <tr>
            <td class="<%= colorActive %> ba-k al-c"><%= index+1 %></td>
            <td class="<%= colorActive %> ba-k pd-l-s"><%= obj.categoryId %></td>
            <td class="<%= colorActive %> ba-k pd-l-s"><%= obj.categoryName %></td>
            <td class="<%= colorActive %> ba-k al-c">
              <%- obj.categoryStatus ? '&#10003;' : '-' %>
            </td>
          </tr>
          <% }) %>
        <% } %>
      </tbody>
      </table>

  </main>

  <!--  -->
  <footer class="d-flex justify-content-between al-c no-print mg-t-l">
    <button class="btn bg-black fc--white pd-l-xxl pd-r-xxl pd-t-l pd-b-l clickable" 
            type="button" onclick="window.print()">พิมพ์
    </button>
    <button class="btn bg-black fc--white pd-l-xxl pd-r-xxl pd-t-l pd-b-l clickable" 
            type="button" onclick="window.close()">ปิดหน้าต่าง
    </button>
  </footer>

</body>
</html>
