<!--  -->
<!-- <section class="window-ctn pd-xs col-100" > -->

<!-- 
<div class="window-title bg-window-2" name="windowTitle">
  <p class="bg-cornblue">
    <span class="titleText1 fc-white pd-l-m">สรุปเอกสารเดือน : </span>
    <span class="titleText2 fc-yellow fw-b"><= title ></span>
    <span class="titleText2 fc-lime fw-b">( จำนวนเอกสาร = <= data.length >)</span>
    <span class="close-window" onclick="closeWindow(this)">✖</span>
    <span class="expand-window" onclick="copyTable(this)">copy</span>
    <span class="clickable expand-window" 
          data-direction="up"
          onclick="moveWindow(this)">&#8679;</span>
    <span class="clickable expand-window" 
          data-direction="down"
          onclick="moveWindow(this)">&#8681;</span>
  </p>
</div> 
-->

<div class="table-ctn" name="tableCtn">
  <table>

    <thead>
      <tr class="<%= doc.docStatusBgColor %> al-l">
        <th class="<%= doc.docStatusBgColor %>">
          <p>
            <span class="clickable close-window" onclick="closeWindow(this)">✖</span>
            <span class="expand-window" onclick="copyTable(this)">copy</span>
            <span class="clickable expand-window" 
                  data-direction="up"
                  onclick="moveWindow(this)">&#8679;</span>
            <span class="clickable expand-window" 
                  data-direction="down"
                  onclick="moveWindow(this)">&#8681;</span>              
          </p>
        </th>

        <th class="ov-hide" colspan="4">
          <p>
            <span class="fc-white pd-l-m">เลขที่เอกสาร : </span>
            <a href="<%= global.DOMAIN_ALLOW %><%= PATH_DOC %>?docId=<%= doc.docId %>" target="_blank">
              <span class="fc-yellow"><%= doc.docId %></span>
            </a>
          </p>
        </th>

        <!-- พิมพ์ -->
        <th class="ov-hide al-r">
          <p>
            <span class="btn-print" onclick="printDoc('<%= doc.docId %>')">🖨️</span>
          </p>
        </th>

      </tr>
    </thead>

    <!--  -->
    <tbody>
      <tr>
        <td class="bg-white">วันที่และเวลา :</td>
        <td colspan="2"><span class=""><%= doc.docDateTime %></span></td>
        <td colspan="3">
          <span class="al-r">สถานะ : </span>
          <span class="al-r <%= doc.docStatusColor %>">[<%= doc.docStatusNumber %>]</span>
          <span class="al-l <%= doc.docStatusColor %>"><%= doc.docStatus %></span>
        </td>
      </tr>

      <tr>
        <td class="bg-white">สาขา :</td>
        <td colspan="5">
          <span class="fc-dkcyan">[<%= doc.branchId %>]</span>
          <span class="fc-dkcyan"><%= doc.branchName %></span>
        </td>
      </tr>

        
      <tr class="bd-n">
        <td class="bg-white">ผู้สร้างเอกสาร :</span></td>
        <td colspan="5">
          <span class="fc-plum">[<%= doc.userId %>]</span>
          <span class="fc-mgt"><%= doc.userFullname %></span>
        </td>
      </tr>

      <% if( doc.supplierId !== null && doc.supplierId !== undefined){ %>
      <tr class="bd-n">
        <td class="bg-white">ผู้จัดจำหน่าย :</span></td>
        <td colspan="5">
          <span class="fc-tan">[<%= doc.supplierId %>]</span>
          <span class="fc-brown"><%= doc.supplierName %></span>
        </td>
      </tr>
      <% } %>

      <% if(['sales','return','warehouseIn'].includes(docType) ){ %>
        <tr class="bd-n">
          <td class="bg-white">ยอดรวม :</span></td>
          <td colspan="5">
            <span class="fc-blue fw-b"><%= doc.totalAmount %></span>
          </td>
        </tr>
      <% } %>

      <% if(['sales','return'].includes(docType) ){ %>
      <tr>
        <td class="bg-white">ชำระเงิน :</td>

        <% if( doc.paymentMethod1){ %>
        <td class="bg-white" colspan="5">
          <span class="al-r">[1] : </span>
          <%
            const colorPay1 = global.PAY_TYPE.find( o => o.paytype == doc.paymentMethod1 )?.color || 'fc-black';
          %>
          <span class="<%= colorPay1 %>">[<%= doc.paymentMethod1Name %>]</span>
          <span class="<%= colorPay1 %> fw-b"><%= doc.paymentAmount1 == 0 ? '-' : doc.paymentAmount1 %></span>
        <% } %>

        <% if( doc.paymentMethod2){ %>
          <span class="al-r mg-l-xl">[2] : </span>
          <%
            const colorPay2 = global.PAY_TYPE.find( o => o.paytype == doc.paymentMethod2 )?.color || 'fc-black';
          %>
          <span class="al-r <%= colorPay2 %>">[<%= doc.paymentMethod2Name %>]</span>
          <span class="al-l <%= colorPay2 %> fw-b"><%= doc.paymentAmount2 == 0 ? '-' : doc.paymentAmount2 %></span>
        </td>
        <% } %>
      </tr>
      <% } %>


      <!-- รายการชำระหนี้ -->
      <% if(['sales'].includes(docType) ){ %>
        <% if( doc.paymentMethod2 == 'Debt' && doc.payDebtRows && doc.payDebtRows.length > 0){ %>
        <tr class="bd-n">
          <td class="bg-white">รายการชำระหนี้ :</span></td>
          <td colspan="5">
            <% doc.payDebtRows.forEach( (obj, index) => { %>
              <p class="<%= index > 0 ? 'pd-t-m' : '' %>">
                <span>จำนวนเงิน : </span>
                <span class="fc-green fw-b"><%= obj.amount %> </span>
                <span class="fc-dkcyan">[<%= obj.dateTime %>]</span>
              </p>
              <!-- <p><span>วันที่ : </span></p> -->
              <p>
                <span>ผู้รับชำระ : </span>
                <span class="fc-plum">[<%= obj.userId %>]</span>
                <span class="fc-mgt"><%= obj.userFullname.length > 18 ? obj.userFullname.slice(0, 18) + '..' : obj.userFullname %></span>
              </p>
            <% }) %>
          </td>
        </tr>
        <% } %>
      <% } %>


      <% if(doc.tableRows && doc.tableRows.length > 0){ %>
        <% doc.tableRows.forEach( (obj,index) => { %>

        <tr class="al-r" >
          <td class="al-l" style="background-color: white">
            <span><%= index+1 %>.)</span>
            <span><%= obj.itemId %></span>
          </td>
          <%
            const description_Slice = obj.description.length > 37 ? obj.description.slice(0, 37) + '...' : obj.description;
          %>
          <td class="al-l"><%= description_Slice %></td>
          <td class="al-r"><%= obj.quantity %></td>
          <td class="al-c"><%= obj.unit %></td>
          <td class="al-r"><%= obj.price %></td>
          <td class="al-r"><%= obj.amount %></td>
        </tr>
        <% }) %>
      <% } %>

      <tr class="bd-n">
        <td class="bg-white">หมายเหตุ :</span></td>
        <td colspan="5">
          <span class=""><%= doc.docRemark ? doc.docRemark : '-' %></span>
        </td>
      </tr>


    </tbody>
  </table>
</div>

<!-- </section> -->